<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ntombi's Coffee Shop</title>
  </head>
  <body>
    <main>
      <div class="wrapper">
        <header class="heading">
          <h1 class="primary-heading">Welcome To Ntombi's Coffee Shop</h1>
        </header>
        <div class="container">
          <div class="form-sign-login">
            <div class="form-wrapper">
              <h3 class="tertiary-heading">Login</h3>
              <form id="sign-up-form" action="/adminlogin" method="POST">
                <p class="label-input">
                  <label class="username-label" for="#">Username:</label>
                  <input name="username" class="username-input" type="text" />
                </p>
                <p class="label-input">
                  <label class="password-label" for="#">Password:</label>
                  <input
                    name="password"
                    class="password-input"
                    type="password"
                  />
                </p>
              </form>
              <button
                class="btn login-btn"
                type="submit"
                form="sign-up-form"
              >Login</button>
              <div class="flex login-info">
                <p class="account-text">Are you a waiter?</p>
                <a class="login-text switch-user" href="/">login</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="/frontendjs/index.js"></script>
  </body>
</html>