body {
  background-color: #283614;
  background-image: none;
  color: #fefae0;
}
.logout {
  color: #fefae0;
  text-decoration: underline;
}

@media (min-width: 68em) {
  .container {
    max-width: fit-content;
    margin: 0 auto;
  }
  ul {
    text-align: center;
  }
  ul li {
    font-size: 1.8rem;
    list-style-type: none;
  }

  .secondary-heading {
    font-size: 3.5rem;
    background-color: transparent;
    margin-block: 23px;
  }
  .working-waiters-text {
    margin-block-end: 32px;
    font-size: 2.5rem;
  }
  .btn {
    padding: 11px;
    border-radius: 5px;
    margin-block-end: 42px;
    font-size: 1.6rem;
    cursor: pointer;
    width: revert;
  }
  .schedule-btn {
    background-color: #fefae0;
    color: #283618;
    margin-inline-end: 20px;
  }
  .reset-schedule-btn {
    border: 1px solid #fefae0;
    background-color: transparent;
    color: #fefae0;
  }

  /* ---------------- style your table ---------------- */
  .schedule-table {
    border-collapse: collapse;
    font-size: 2rem;
    min-width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
  }
  .schedule-table tr {
    background-color: #dda15e;
    color: #bc6c25;
    color: #ab6324;
    text-align: left;
    font-weight: bold;
  }
  .schedule-table th,
  .schedule-table td {
    padding: 12px 15px;
  }
  .schedule-table tr {
    border-bottom: 3px solid #dddddd;
  }
  .schedule-table tbody tr:nth-of-type(even) {
    background-color: #fcd5a9;
  }
  .schedule-table tr:last-of-type {
    border-bottom: 9px solid #dda15e;
  }
  /* ---------------- style your table ---------------- */
  .scheduled-days,
  .color-code-container {
    display: flex;
    gap: 20px;
  }
  .color-code-container {
    margin-block-end: 32px;
  }
  .scheduled-days {
    margin-block-end: 52px;
  }
  .labels-info,
  .weekday {
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    color: #283618;
  }
  .over-booked {
    background-color: red;
  }
  .fully-booked {
    background-color: greenyellow;
  }
  .under-booked {
    background-color: yellow;
  }
  #waiters-working-days {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: fit-content;
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;
  }
  .waiter-working-days {
    padding: 20px;
    border-radius: 5px;
    width: fit-content;
    background-color: #fefae0;
    color: #606c38;
    border: solid 2px #283614;
  }
  .waiter-name {
    margin-block-end: 8px;
  }
}
